@model WorkshopApp.Models.Enrollment

@{
    ViewData["Title"] = "Промени податоци";
}

<h3>Промени податоци</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="StudentEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            
            <div class="form-group">
                <label asp-for="CourseId"></label>
                <select asp-for="CourseId"
                        class="form-control"
                        asp-items="ViewBag.courseID"
                        disabled>
                </select>
                <input type="hidden" asp-for="CourseId" />
            </div>

            
            <div class="form-group">
                <label asp-for="StudentId"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.studentID" disabled></select>
                <input type="hidden" asp-for="StudentId" />
            </div>

            
            <div class="form-group">
                <label>Проект</label>
                @if (!string.IsNullOrEmpty(Model.ProjectUrl))
                {
                    <div>
                        Тековен фајл:
                        <a href="@("/projects/" + Model.ProjectUrl)" target="_blank">
                            @Model.ProjectUrl
                        </a>
                    </div>
                }
                <input type="file" name="ProjectFile" class="form-control" accept=".pdf,.doc,.docx" />
            </div>

            
            <div class="form-group">
                <label>Семинарска</label>
                @if (!string.IsNullOrEmpty(Model.SeminalUrl))
                {
                    <div>
                        Тековен фајл:
                        <a href="@("/projects/" + Model.SeminalUrl)" target="_blank">
                            @Model.SeminalUrl
                        </a>
                    </div>
                }
                <input type="file" name="SeminalFile" class="form-control" accept=".pdf,.doc,.docx" />
            </div>

           
            @* Semester *@
            <div class="form-group">
                <label asp-for="Semester"></label>
                <input asp-for="Semester" class="form-control" readonly />
                <input type="hidden" asp-for="Semester" />
            </div>

            @* Year *@
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" readonly />
                <input type="hidden" asp-for="Year" />
            </div>

            @* Grade *@
            <div class="form-group">
                <label asp-for="Grade"></label>
                <input asp-for="Grade" class="form-control" readonly />
                <input type="hidden" asp-for="Grade" />
            </div>

            @* ExamPoints *@
            <div class="form-group">
                <label asp-for="ExamPoints"></label>
                <input asp-for="ExamPoints" class="form-control" readonly />
                <input type="hidden" asp-for="ExamPoints" />
            </div>

            @* SeminalPoints *@
            <div class="form-group">
                <label asp-for="SeminalPoints"></label>
                <input asp-for="SeminalPoints" class="form-control" readonly />
                <input type="hidden" asp-for="SeminalPoints" />
            </div>

            @* ProjectPoints *@
            <div class="form-group">
                <label asp-for="ProjectPoints"></label>
                <input asp-for="ProjectPoints" class="form-control" readonly />
                <input type="hidden" asp-for="ProjectPoints" />
            </div>

            @* AdditionalPoints *@
            <div class="form-group">
                <label asp-for="AdditionalPoints"></label>
                <input asp-for="AdditionalPoints" class="form-control" readonly />
                <input type="hidden" asp-for="AdditionalPoints" />
            </div>

            @* FinishDate *@
            <div class="form-group">
                <label asp-for="FinishDate"></label>
                <input asp-for="FinishDate" class="form-control" readonly />
                <input type="hidden" asp-for="FinishDate" />
            </div>

            <div class="form-group">
                <input type="submit" value="Зачувај" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
